body,html{
    height: 100%;
}
.outter{
    background-image: url('/static/img/pexels-photo.jpg') ;
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:burlywood;
}

.content{
    padding-top: 50px;
}
.content h1{
    font-family: futura;
    color: black;
    font-size: 80px;
}

.butons{
    padding-top: 80px;

}.input-field{
    color: white;
}