html {
    background: url('/static/woodbackground.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
h1{
  color:white;
  font-family: futura;
  font-size: 70px;
}
h4{
  color:white;
  font-family: futura;
  font-size: 30px;
}
/* .card{
  height: 200px;
  overflow: hidden;
} */