<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Material Icon CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="icon" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <!-- Your custom styles -->
    <title>Dashboard</title>
    <link rel="stylesheet"href="{{url_for('static', filename='dash.css')}}">
    <!-- Used as an example only to position the footer at the end of the page.
    You can delete these styles or move it to your custom css file -->
  </head>
  <body>
    <header>
      <nav class="teal">
        <div class="nav-wrapper">
          <div class="container">
            <a href="{{ url_for('dashboard') }}" class="brand-logo" style="font-family:cursive"><i class="fas fa-wine-bottle"></i> Wines</a>
            <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><span style="color:black;font-family: cursive">{{ name }}</span></li>
              <li><a href="{{ url_for('myWine') }}">My Wine</a></li>
              <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
            <ul class="side-nav" id="mobile-menu">
              <li>
                <div class="userView">
                  <div class="background">
                    <img src="http://lorempixel.com/output/abstract-q-c-640-480-10.jpg" alt="Background Sidenav">
                  </div>
                  <a href="#!name"><span class="white-text name">{{ name }}}</span></a>
                </div>
              </li>
              <li><a href="#">My Wine</a></li>
              <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

      <div class="container" style="padding:10px 20px 10px 20px;box-sizing: content-box">
      <div class="row">
        <br>
        <form class="col s12">
            <div class="row">
              <div class="input-field col s3">
                <i class="material-icons prefix">create</i>
                <input id="wineName" type="text" class="validate">
                <label for="icon_prefix">Your Wine Name...</label>
              </div>
              <div class="input-field col s3">
                <i class="material-icons prefix">attach_money</i>
                <input id="price" type="text" class="validate">
                <label for="price">Your Price...</label>
              </div>
              <div class="input-field col s3">
                  <select id='food' name="food">
                      <option value="" disabled selected>Choose your option</option>
                      <option value="Game">Game</option>
                      <option value="Fish">Fish</option>
                      <option value="Vegetarian">Vegetarian</option>
                      <option value="Pasta">Pasta</option>
                      <option value="Poultry">Poultry</option>
                      <option value="Pork">Pork</option>
                      <option value="Spicy">Spicy</option>
                      <option value="Seafood">Seafood</option>
                      <option value="Shellfish">Shellfish</option>
                      <option value="Veal">Veal</option>
                      <option value="Lamb">Lamb</option>
                      <option value="Mushrooms">Mushrooms</option>
                      <option value="Beef">Beef</option>
                      <option value="Cured Meat">Cured Meat</option>
                      <option value="Desserts">Desserts</option>
                    </select>
                    <label>Your Food</label>
              </div>
              <div class="col s3">
                  <button class="btn waves-effect waves-light btn-large search" type="submit" name="action"><i class="material-icons">search</i> Search</button>
              </div>
            </div>
          </form>
          <hr>
      </div>
        </div>
</div>
        <div class="container con">
            <div class="row">
              <div class="col s12">
                  <h3 class="align-center">Our Picks Pinor Noir</h3>
              </div>
            <div class="card col s3" style="height:400px">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" style="overflow: hidden" src="{{url_for('static', filename='wines/first.jpg')}}">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4"style="font-family:cursive;font-size:20px">Gratavinum Shiraz</span>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4"style="font-family:cursive;font-size:20px">Gratavinum Shiraz<i class="material-icons right">close</i></span>
                  <p><i class="material-icons">location_on</i>vineyard:Gratavinum </p>
                  <p><i class="material-icons">location_on</i>region: Priorat</p>
                </div>
              </div>

              <div class="card col s3" style="height:400px">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" style="overflow: hidden" src="{{url_for('static', filename='wines/second.jpg')}}">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"style="font-family:cursive;font-size:20px">Yorba Zinfandel</span>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4" style="font-family:cursive;font-size:20px">Yorba Zinfandel<i class="material-icons right">close</i></span>
                    <p><i class="material-icons">location_on</i>vineyard: Yorba </p>
                    <p><i class="material-icons">location_on</i>Region: California </p>
                  </div>
                </div>

                <div class="card col s3" style="height:400px">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" style="overflow: hidden"  src="{{url_for('static', filename='wines/third.png')}}">
                    </div>
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4"style="font-family:cursive;font-size:20px">Domaine de Panisse Shiraz</span>
                    </div>
                    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4"style="font-family:cursive;font-size:20px">Domaine de Panisse Shiraz<i class="material-icons right">close</i></span>
                      <p><i class="material-icons">location_on</i>vineyard: Domaine de Panisse </p>
                      <p><i class="material-icons">location_on</i>Region: Châteauneuf-du-Pape </p>
                    </div>
                  </div>
                  <div class="card col s3 " style="height:400px">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" style="overflow: hidden" src="{{url_for('static', filename='wines/fourth.png')}}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"style="font-family:cursive;font-size:20px">Gilbert et Christine Felettig</span>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"style="font-family:cursive;font-size:20px">Gilbert et Christine Felettig Pinot Noir<i class="material-icons right">close</i></span>
                        <p><i class="material-icons">location_on</i>vineyard: Gilbert et Christine Felettig </p>
                      <p><i class="material-icons">location_on</i>Region: Vosne-Romanée </p>
                      </div>
                    </div>
            </div>
          </div>
        </div>
          <div class="container">
          <div id="content">
          <div class="div1">
                <div class="div2"></div>
            </div>
            <div class="row">
                <div id='result'>
                  </div>
            </div>

          </div>
        </div>
      </div>
    </main>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- Materialize JS CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='new.js') }}"></script>
    <script>
    $(document).ready(function(){
      $('select').formSelect();
    $('.search').click(function(){
      $('.con').hide();
    })
    $('#result').on('click','.addBtn',function(){
    let wineID=$(this).attr('wineid');
    console.log(wineID);
    req=$.ajax({
      url:'/save',
      type:'POST',
      data:{ id:wineID }
    })
  })
});
    </script>
  </body>
</html>


