{% extends "material/base.html" %}
{% import "material/wtf.html" as wtf %}

{% block title %}
Welcome
{% endblock %}

    {% block styles %}
    {{super()}}
    <link rel="stylesheet"href="{{url_for('static', filename='main.css')}}">
    {% endblock %}

{% block content %}
<!-- <nav>
        <div class="nav-wrapper teal">
          <a href="#!" class="brand-logo">Logo</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{{url_for('login') }}"><i class="material-icons left">account_box</i>Login </a></li>
            <li><a href="{{url_for('register') }}"><i class="material-icons right"> account_circle </i>Sign up</a></li>
          </ul>
        </div>
      </nav> -->
 
<div class="container">
    <div class="butons right-align ">
        <a href="{{ url_for('login') }}" class="btn-floating pulse"><i class="material-icons">account_box</i></a>
        <a href="{{url_for('register') }}" class="btn-floating  pulse"><i class="material-icons">cloud</i></a>
    </div>
    <div class="content">

    
    <h1 class="center-align ">Whats Your Taste</h1>
    <div class="row">
        <form method="POST" action="/" class="col s12 mtForms">
            {{ wtf.quick_form(form)}}
        
        </form>
    </div>
    </div>
</div>

{% endblock %}
