<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>myWines</title>
    <!-- Material Icon CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Your custom styles -->
    <link rel="stylesheet"href="{{url_for('static', filename='dash.css')}}">
    <!-- Used as an example only to position the footer at the end of the page.
    You can delete these styles or move it to your custom css file -->
  </head>
  <body>
    <header>
      <nav class="teal">
        <div class="nav-wrapper">
          <div class="container">
            <a href="{{ url_for('dashboard') }}" class="brand-logo"><i class="fas fa-wine-bottle"></i> Wines</a>
            <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><span>{{ name }}</span></li>
              <li><a href="{{ url_for('dashboard') }}">Search Wine</a></li>
              <li><a href="#">Top Wines</a></li>
              <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
            <ul class="side-nav" id="mobile-menu">
              <li>
                <div class="userView">
                  <div class="background">
                    <img src="http://lorempixel.com/output/abstract-q-c-640-480-10.jpg" alt="Background Sidenav">
                  </div>
                  <a href="#!user"><img class="circle" src="http://lorempixel.com/output/people-q-c-640-480-9.jpg" alt="User Image Sidenav"></a>
                  <a href="#!name"><span class="white-text name">{{ name }}</span></a>
                </div>
              </li>
              <li><a href="#">My Wine</a></li>
              <li><a href="#">Top Wines</a></li>
              <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
          <div class="container">
          <div id="content">
          <div class="div1">
                <div class="div2"></div>
            </div>
            <div class="row">
                <div id='result'>
                    {% for w in newList %}
                    <ul class="collection" id="{{ w['id'] }}">
                            <li class="collection-item avatar">
                              <img src ="{{ w['url'] }}" style="max-height: 100px" alt="wine Image" class="circle">
                              <span class="title">{{ w['name'] }}</span>
                              <p><i class="material-icons">location_on</i>
                              </p>
                              <p> <i class="material-icons">attach_money</i>{{w['price']}}</p>
                              <a href="#" class="secondary-content"><i class="material-icons deleteBtn" wineID="{{ w['id'] }}">delete</i></a>
                            </li>
                      </ul>
                      {% endfor %}
                  </div>
            </div>

          </div>
        </div>
      </div>
      </div>
    </main>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- Materialize JS CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- <script src="{{ url_for('static', filename='new.js') }}"></script> -->
    <script>
    $(document).ready(function(){
        $('#result').on('click','.deleteBtn',function(){
        let wineID=$(this).attr('wineID');
        $("#"+wineID).fadeOut("normal", function() {
        $(this).remove();});
        req=$.ajax({
        url:'/deleteWine',
        type:'POST',
        data:{ id:wineID }
        })

    })
});

    </script>
  </body>
</html>