{% extends "material/base.html" %}
{% import "material/wtf.html" as wtf %}
{% block title %}
Recommendations
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"href="{{url_for('static', filename='style.css')}}">
{% endblock %}
{% block content %}
<div class="container">
    <h1 class="center-align">Our Recommendations </h1>
    <br>
<div class="row">
        {% for w in newList %}
        <div class="col s6 m4">
          <div class="card">
            <div class="card-image">
              <!-- <img src="{{url_for('static', filename='img/wineGlass.jpeg') }}"> -->
              <a href="{{ url_for('login') }}" class="btn-floating halfway-fab waves-effect waves-light teal"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <span class="card-title">{{ w['name'] }}</span>
              <p><i class="material-icons">location_on</i> {{ w['region'] }}</p>
              <p> <i class="material-icons">attach_money</i> {{ w['price'] }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
    
{% endblock %}