{% extends "material/base.html" %}
{% import "material/wtf.html" as wtf %}
{% block title %}
Recommendations
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"href="{{url_for('static', filename='style.css')}}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
    <h1 class="center-align">Our Recommendations </h1>
    <br>
<div class="row">
        {% for w in newList %}
          <div class="col s6 m4">
            <div style="height: 570px" class="card">
              <div class="card-image">
                <img src={{ w['url'] }} style="max-height: 400px; padding: 20px">
                <!-- <img src="https://images.vivino.com/thumbs/qBnyG6oJSQmlejT3ftVgGw_pl_480x640.png" max-height: 330px"> -->
                <a href="{{ url_for('login') }}" class="btn-floating halfway-fab waves-effect waves-light teal"  style="float:right; margin: 15px"><i class="material-icons">add</i></a>
              </div>
                <div class="card-content">
                <span style="color: black; font-size: 22px; font-weight:normal ; line-height: 1.1" class="card-title">{{ w['name'] }}</span>
                <p><i class="material-icons">location_on</i> {{ w['region'] }}
                </p>
                <p> <i class="material-icons">attach_money</i> {{ w['price'] }}</p>
              </div>
            </div>
          </div>
      {% endfor %}
    </div>
{% endblock %}