<!-- <!DOCTYPE html>
<html>
<head>
	<title>AJAX Example</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<!-- <script src="{{ url_for('static', filename='new.js') }}"></script> -->
</head>
<body>
<div class="container">
	<br><br><br><br>
	<form class="form-inline">
	  <div class="form-group">
	    <label class="sr-only" for="emailInput">Email address</label>
	    <input name='wineName' type="text" class="form-control" id="wineName" placeholder="Wine Name">
	  </div>
	  <button type="submit" class="btn btn-default">Submit</button>
	</form>
	<br>
	<div class="container">
    <div id="content">

    </div>

  </div>
</div>
</body>
</html>

<script>
$(document).ready(function(){
  $('form').on('submit',function(event){
    $.ajax({
      data:{
        wineName:$('#wineName').val()
      },
      type:'POST',
      url:'/process'
    })
    .done(function(data){
      if(data.error){
        console.log('not name')

      }
      else{
        $.each(data, function(key, value) {
          console.log(data)
          $('#content').append(
          $('<div class="card" style="width: 18rem;">'),
          $('<img class="card-img-top" src="v" alt="Card image cap">').attr('src',value.url),
          $('<div class="card-body">'),
            $('<p class="card-text">').text(value.name)
          )
});
      }

    })

    event.preventDefault()

  });



})
</script> -->